.wrapper {
  position: relative;
  height: 100vh;
}

.whiteBg {
  position: absolute;
  background-color: white;
  inset: 0;
  z-index: 5;
  clip-path: circle(100% at 100% 0);
}

.title {
  margin: 0;
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 1px grey;
}

.container {
  height: fit-content;
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.container div {
  position: relative;
  width: 50%;
  display: flex;
  border-bottom: 0.1px solid #00ffff;
  input {
    font-size: 2rem;
    width: 100%;
    border: none;
    text-align: center;
    background: transparent;
    color: white;
    outline: none;
    padding-bottom: 1rem;
  }
  input:-internal-autofill-selected {
    color:white !important;
    background-color: transparent !important;
  }

  // label {
  //   position: absolute;
  //   left: 1.2rem;
  //   transform-origin: left center;
  //   pointer-events: none;
  //   background: transparent;
  //   transition: transform 0.2s ease-out;
  //   color: rgba(240, 240, 240, 0.4);
  //   border-radius: 0.2rem;
  // }

  // :is(input:focus, input:valid) {
  //   outline: none;
  // }

  // :is(input:focus, input:valid) + label {
  //   transition: 0.2s ease-out;
  //   padding: 0.2rem 0.8rem;
  //   transform: translateY(-1.8rem) scale(0.9);
  //   color: white;
  //   background: gray;
  // }
}

/* .dp+label{
    top: 0.5rem;
  } */

.btn {
  color: white;
  font-size: 2rem;
  padding: 1rem;
  width: 10rem;
  background-color: transparent;
  border: 1px solid #00ffff;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.6s;
  position: relative;
}

.btn:before,
.btn:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.btn:before {
  width: 60px;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.btn:after {
  width: 30px;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.btn:hover:before,
.btn:hover:after {
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.btn:hover {
  color: #00ffff;
}
.btn:hover {
  background: rgb(96, 95, 95);
}

.error{
  color:red;
}
