:root{
  --count: 0%;
}
.loader {
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 5vw;
  z-index: 1000000;
}
.inner {
  display: flex;
  gap: 1rem;
  background: rgb(228, 228, 228);
  background: linear-gradient(
    90deg,
    // rgba(228, 228, 228, 1) var(--count),
    rgba(0,206,228,1) var(--count),
    rgba(62, 61, 61, 1) var(--count)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.trackbar{
  // width:10rem;
}

.counter{
  // position: absolute;
  right: 0;
  font-weight: 500;  
}
.counter::after {
  content: "%";
}

// @media screen and (max-width: 1100px) {
//   .counter {
//     width: 7rem;
//   }
// }

// .active{
//   transform:translateY(-100vh);
//   transition: ease-in-out 2s;
//   transition-delay: 1s;
// }