.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.container div {
  position: relative;
  display: flex;
  align-items: center;
  border: 0.1px solid white;
  border-radius: 5px;
}

input {
  width: 20rem;
  height: 2rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  border: none;
  background: transparent;
  color: white;
}

label {
  position: absolute;
  left: 1.2rem;
  transform-origin: left center;
  pointer-events: none;
  background: transparent;
  transition: transform 0.2s ease-out;
  color: rgba(240, 240, 240, 0.4);
  border-radius: 0.2rem;
}

:is(input:focus, input:valid) {
  outline: none;
}

:is(input:focus, input:valid) + label {
  transition: 0.2s ease-out;
  padding: 0.2rem 0.8rem;
  transform: translateY(-1.8rem) scale(0.9);
  color: white;
  background: gray;
}

.btn {
  height: 2rem;
  border: 0.1px solid transparent;
  outline: none;
  cursor: pointer;
  background:transparent;
  overflow: hidden;
  transition: 0.6s;
  color: white;
  border-color: white;
  border-radius: 5px;
  position: relative;
}

.btn:before, .btn:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    filter: blur(30px);
    opacity: 0.4;
    transition: 0.6s;
  }
  .btn:before{
    width: 60px;
    background: rgba(255,255,255,0.6);
    transform: translateX(-130px) skewX(-45deg);
  }
  .btn:after{
    width: 30px;
    background: rgba(255,255,255,0.6);
    transform: translateX(-130px) skewX(-45deg);
  }
  .btn:hover:before,
  .btn:hover:after{
    opacity: 0.6;
    transform: translateX(320px) skewX(-45deg);
  }
  .btn:hover{
    color: #f2f2f2;
  }
  .btn:hover{
    background: grey;
  }

  .error{
    color: red;
  }