.wrapper {
  overflow-x: hidden;
  position: relative;
}

.scrollBar {
  display: flex;
  flex-direction: column;
  width: 300vw;
  gap: 4rem;
  margin-left: 30%;
  margin-top: 2rem;

  svg {
    width: 50vw;
    .mask {
      width: 0;
    }
  }
  
  .sections {
    display: flex;
    gap: 4rem;
  }
}

.card {
  position: relative;
  width: 40vw;
  height: 35vh;
  color: rgb(158, 158, 158);
  border: 1px solid rgb(173, 173, 173);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  h2 {
    position: absolute;
    left: 2%;
    top:0%;
    margin: 0;
    padding: 0;
    font-size: 4rem;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1px #00ffff;
  }

  p {
    width: 80%;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    color: transparent;
    /* -webkit-text-stroke: 1px #00ffff; */
    -webkit-text-stroke: 1px rgb(158, 158, 158);
  }
}
