
.container {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Kanit", sans-serif;
  div {
      width: 80%;
      text-align: center;
      z-index: 5;
  }
}

.whiteBg{
    background-color: rgba(
        255, 255, 255, 0.4);
     filter: blur(150px); 
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
}

.text {
  color: transparent;
  font-size: 3rem;
  font-weight: 600;
  -webkit-text-stroke: 0.2px #00ffff;  
}
